In [227]:
!pip install pandas

Requirement already satisfied: pandas in /home/vcm/.local/lib/python3.8/site-packages (2.0.3)
Requirement already satisfied: tzdata>=2022.1 in /home/vcm/.local/lib/python3.8/site-packages (from pandas) (2023.3)
Requirement already satisfied: pytz>=2020.1 in /home/vcm/.local/lib/python3.8/site-packages (from pandas) (2023.3.post1)
Requirement already satisfied: numpy>=1.20.3; python_version < "3.10" in /home/vcm/.local/lib/python3.8/site-packages (from pandas) (1.24.4)
Requirement already satisfied: python-dateutil>=2.8.2 in /home/vcm/.local/lib/python3.8/site-packages (from pandas) (2.8.2)
Requirement already satisfied: six>=1.5 in /usr/lib/python3/dist-packages (from python-dateutil>=2.8.2->pandas) (1.14.0)

In [228]:
import pandas as pd

In [229]:
df=pd.read_csv("meritcircle_cleaned_discord.csv")
df1=pd.read_csv("meritcircle_user_sentiment.csv")
df.replace({r'[^\x00-\x7F]+':''}, regex=True, inplace=True)
df1.replace({r'[^\x00-\x7F]+':''}, regex=True, inplace=True)
df=df.fillna('')
df1=df1.fillna('')

In [230]:
df.head()

,AuthorID,Author,Date_original,Date,Content,Attachments,Reactions,Preprocessed
0,3.035150e+17,filthyfawkes,2022/2/14 9:12,2022/2/14,@Professor LP,,,professor lp
1,3.035150e+17,filthyfawkes,2022/2/14 9:14,2022/2/14,@MC Scholar chat here with prof,,,mc scholar chat prof
2,3.035150e+17,filthyfawkes,2022/2/14 9:14,2022/2/14,if you can't speak in the lobby,,,cant speak lobby
3,7.353470e+17,charless#7527,2022/2/14 9:14,2022/2/14,Inspiration reveal prof,,,inspiration reveal prof
4,8.716860e+17,Tueng.TV#8957,2022/2/14 9:14,2022/2/14,Hello,,,hello

In [231]:
df1.head()

       AuthorID  Average_Sentiment_Score
0  8.584770e+16                 0.161183
1  1.050630e+17                 0.115913
2  1.102280e+17                -0.021770
3  1.126720e+17                 0.082354
4  1.277860e+17                 0.102067

In [232]:
temp1={}
has_read=[]
Not_avaliable=[]
for i in df['AuthorID']:
    if i in has_read:
        continue
    has_read.append(i)
    a=df[df['AuthorID']==i].Content.reset_index()
    temp2=''
    for j in range(len(a)):
        temp2+=a.Content[j]+' '
    temp2=temp2[:-1]
    if len(temp2)>255:
        Not_avaliable.append(i)
        continue
    else:
        temp1[i]=temp2

In [ ]:
temp3={}
has_read=[]
for i in df['AuthorID']:
    if i in Not_avaliable:
        continue
    if i in has_read:
        continue
    else:
        has_read.append(i)
    temp4=df1[df1['AuthorID']==i].Average_Sentiment_Score.reset_index()
    temp5=temp4.Average_Sentiment_Score[0]
    if temp5>0:
        temp6="Positive"
    elif temp5<0:
        temp6="Negative"
    else:
        temp6="Neutral"
    temp3[i]=temp6

In [ ]:
import random
random.seed(42)
dataset_data=[]
has_read=[]
count=0
for i in df['AuthorID']:
    if i in Not_avaliable:
        continue
    if i in has_read:
        continue
    else:
        has_read.append(i)
        count+=1
    if temp3[i]=="Positive":
        if random.random()>0.45:
            continue
    dataset_data.append({"instruction": "Detect the sentiment of the content.",
        "input": temp1[i],
        "output": temp3[i]})
    if count>1500:
        break

In [ ]:
import json
with open("dataset.json", "w") as f:
   json.dump(dataset_data, f)